<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>VVBSLargePortraitListController</string>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>label</key>
			<string>Portrait</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>VVBSLargeLandscapeListController</string>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>label</key>
			<string>Landscape</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
