<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>key</key>
			<string>useOLEDMode</string>
			<key>label</key>
			<string>Enable OLED Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Volume HUD Style</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>key</key>
			<string>hudStyle</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Mini</string>
				<string>Large</string>
				<string>Giant</string>
			</array>
			<key>alignment</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.volvibes/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>VVBSMoreSettingsListController</string>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>label</key>
			<string>More Customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vibration Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>key</key>
			<string>feedbackStyle</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Soft</string>
				<string>Light</string>
				<string>Medium</string>
				<string>Heavy</string>
				<string>None</string>
			</array>
			<key>alignment</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.volvibes/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Remove Items</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>key</key>
			<string>nukeHUD</string>
			<key>label</key>
			<string>Remove Volume HUD</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>key</key>
			<string>hideGlyph</string>
			<key>label</key>
			<string>Remove Speaker Glyph</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Step Amount (Built-In Speaker)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>16</integer>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>key</key>
			<string>volumeStepper</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.volvibes/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Step Amount (Headphones)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>16</integer>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>key</key>
			<string>volumeStepperHeadphones</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.volvibes/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Display Volume Percent</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>key</key>
			<string>volPercent</string>
			<key>label</key>
			<string>Activate Volume Percent</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.nahtedetihw.volvibes.color</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Volume Percent Color</string>
			<key>key</key>
			<string>volPercentLabelColorKey</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.volvibes.color/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color Volume HUD</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>key</key>
			<string>colorVolSlider</string>
			<key>label</key>
			<string>Enable HUD BG Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.nahtedetihw.volvibes.color</string>
				<key>fallback</key>
				<string>#777777</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>HUD BG Color</string>
			<key>key</key>
			<string>colorVolSliderKey</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.volvibes.color/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.volvibes</string>
			<key>key</key>
			<string>colorVolTopSlider</string>
			<key>label</key>
			<string>Enable HUD Slider Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.nahtedetihw.volvibes.color</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>HUD Slider Color</string>
			<key>key</key>
			<string>colorVolTopSliderKey</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.volvibes.color/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Are you sure you want to reset all settings?</string>
				<key>title</key>
				<string>Ok</string>
				<key>okTitle</key>
				<string>Ok</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>label</key>
			<string>Reset Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>nahtedetihw</string>
			<key>user</key>
			<string>EthanWhited</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>subtitle</key>
			<string>Buy me a coffee ☕️</string>
			<key>url</key>
			<string>https://paypal.me/nahtedetihw</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Special Thanks</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>MTAC</string>
			<key>user</key>
			<string>MTAC8</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>VolVibes 2.8</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2020 © ETHN</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
